ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	padding-inline-start: 20px;
	margin-top: 0;
    margin-bottom: 10px;
}
.pre_bc{
	background-image: url(../img/1.jpg);
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.creator-header .container {
    margin-top: -60px;
    position: relative;
}
.nav-item {
    margin-right: 25px;
	font-weight: 500;
	font-size: 1.2em;
}
.current{
	color: #ff0062;
}
@media (max-width: 800px){
.creator-top-join {
    display: none;
}}
.container {
	position: relative;
	margin-top: -60px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.creator-avatar img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 4px #FFFFFF;
    background-color: #fff;
}
.creator-title {
    position: absolute;
    left: 180px;
    top: 8px;
    font-size: 30px;
    margin: 0;
}
.creator-nav {
    position: absolute;
    left: 180px;
    top: 80px;
    font-size: 17px;
}
.creator-top-join {
    width: 284px;
    height: 50px;
    line-height: 47px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    right: 15px;
    top: 64px;
    font-size: 17px;
    text-decoration: none;
}
.btn-azz {
    color: #fff;
    background-color: #F4A95B;
	border-color: #F4A95B;
}
.btn-azz:hover {
    color: #fff;
    background-color: #f28c26;
    border-color: #f28c26;
}
.col-box {
    box-shadow: 0 2px 0 0 rgba(5,45,73,0.07);
    background-color: #FFFFFF;
    padding: 13px;
    margin-bottom: 15px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.6;
}
.tier-item {
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    overflow: hidden;
}
.tier-name {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.tier-money {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
}
.text-muted {
    color: #777;
}
.tier-award {
    margin-top: 5px;
    margin-bottom: 15px;
}
.tier-award img {
    max-width: 100%;
}
.post-item-hd, .thread-item-hd, .illust-item-hd {
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}
.post-item-hd img.avatar, .thread-item-hd img.avatar, .illust-item-hd img.avatar {
    width: 48px;
    border-radius: 50%;
    vertical-align: top;
}
.post-item-info, .thread-item-info, .illust-item-info {
    display: inline-block;
    margin-left: 10px;
}
.post-item-title, .illust-item-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.post-item-content img, .thread-item-content img, .illust-item-content img {
    max-width: 100%;
    _margin: 0 -13px;
}
.post-item-count, .thread-item-count, .illust-item-count {
    position: relative;
    margin-bottom: 15px;
    color: #999;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    float: left;
    width: 100%;
}
.post-item-load, .illust-item-load {
    margin-bottom: 10px;
}
.post-item-comment, .illust-item-comment {
    margin-top: 5px;
    float: left;
    width: 100%;
}
.comment-item {
    position: relative;
    margin-bottom: 15px;
    clear: both;
}
.reply-item .reply-body, .comment-item .comment-body {
    margin-left: 43px;
    width: 85%;
    position: relative;
}
.reply-item .reply-avatar, .comment-item .comment-avatar {
    float: left;
}
.comment-item .comment-user, .reply-item .reply-user {
    font-weight: 500;
}
.comment-item .comment-content, .reply-item .reply-content {
    color: #686868;
    font-size: 14px;
    word-break: break-all;
    word-wrap: word-break;
}
.comment-user a, .reply-user a {
    color: #365899;
}
.comment-item .reply-op a, .comment-item .comment-op a {
    font-size: 12px;
    color: #aaaaaa;
    cursor: pointer;
    text-decoration: none;
}
.icon-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.reply-input, .comment-input {
    width: 85%;
    padding-bottom: 3px;
    margin-left: 6px;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    transition: border 0.2s ease-in;
    border-bottom: 2px solid #E7ECF0;
}